@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

article{
  display: flex;
  background-color: #292828;
  margin: 1em;
  width: 100%;
  border-radius: 1em;
  color: #f2f2f2;
}

article div{
  width: 100%;
}

img{
  width: 100%;
  border-radius: 1em 0 0 1em;
  height: 100%;
}