@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: #282c34;
  font-family: "Roboto", sans-serif;
}

.Reyes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.Rey {
  background-color: #5f90f4;
  margin: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Rey img{
  width: 70%;
}

.Rey p{
  font-size: 1.5rem;
}
